body{
    font-family: 'Times New Roman', Times, serif;
    min-height: 100vh;
    margin: 0;
    background: linear-gradient(
        270deg,
        red,
        orange,
        yellow,
        green,
        blue,
        indigo,
        violet
    );
    background-size: 1400% 1400%;
    animation: rainbow 5s ease infinite;
}

@keyframes rainbow {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

p{
    color: #058bf2;
}

.card {
    background-color: #ffffff;
    transition: background-color 0.3s ease;
}

.card:hover {
    background-color: #cfe2ff; 
}
